.column{
  float: left;
  width: 29%;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 1px solid purple;
}

.column p {
  text-align: center;
  color: green;
  font-size: 35px;
}

.column p a {
  font-style: italic;
}

body {
  text-align: center;
}

img {
  width: 80%;
}

ul {
  display: inline-block;
}
