.column {
text-align: center;
border: 1px solid purple;
}

.column p {
  text-align: center;
  color: brown;
  font-size: 35px;
}

.column p a {
  font-style: italic;
}

.column a:link {
  color: green;
}

.column a:visited {
  color: orange;
}

body {
  background-image: url("../img/field.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-color: lightblue;
}

img {
  width: 50%;
}

ul {
  display: inline-block;
}

.title {
    clear: left;
    display:block;
    font-size: 35px;
}

p {
  text-align: left;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}

@media screen and (min-width: 800px) {
  .column{
    float: left;
    width: 425px;
    margin: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .column{
    float: left;
    width: 200px;
    margin: 1px;
    padding: 1px;
  }
  .column p {
    font-size: 18px;
  }
  .column ul {
    font-size: 15px;
  }
}
/*@media screen and (max-width: 500px) {
  .column{
    text-align: center;
    border: 1px solid purple;
  }
}*/
