.column{
  float: left;
  width: 425px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid purple;
}

.column p {
  text-align: center;
  color: green;
  font-size: 35px;
}

.column p a {
  font-style: italic;
}

.column a:link {
  color: green;
}

.column a:visited {
  color: orange;
}

body {
  text-align: center;
  background-color: lightblue;
}

img {
  width: 50%;
}

ul {
  display: inline-block;
}

.title {
    clear: left;
    display:block;
    font-size: 35px;
}

p {
  text-align: left;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
